/* Global */

*, *::before, *::after {
  box-sizing: border-box;
}

/* nav */

.bg-img {
  background-image: url("https://images.pexels.com/photos/11157456/pexels-photo-11157456.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
  height: 600px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color:white;
}

.nav {
  
}

.nav2 {
  
}

.nav3 {
  margin-top: 30px;
  
}
.nav3 a {
  padding: 15px;
  text-decoration: none;
  color:white;
}



/* Splash */

.splash {
  min-height: 500px;
  display: flex;
}

.splash-inner {
  margin: 24px auto;
  max-width: 70%;
  font-weight: 400;
  font-size: 16px;

}

.page-title {
  margin: 0;
  font-size: 60px;
  line-height: 1.2;
  font-weight: bold;
}

.page-subtitle {
  margin: 24px 0;
  font-weight: 400;
  font-size: 36px;
  text-align: center;
  margin-top: 130px;
  font-style: italic;
}

.btn {
  padding: 20px;
  
  font-size: 16px;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  border-width: 2px;
  
  color: #ffffff;
  margin: auto 0;
  background-color:#efa306;
}


/* Our Service */

.service {
  background-color: #ffffff;
}

.service h2, p {
  text-align: center;
}

.service3{
  text-align: center;
}

.service3 i{
  color:#efa306;
  font-size: 50px;
}

.service-title {
  margin-top: 80px;
}

.service-services {
  margin: 100px auto;
}

.service3 p{
  font-size: 18px;
}

.service-title p{
  margin: 0 auto;
}

.service-title h2{
  font-size: 30px;
  font-weight: bold;
}