/* Global */

*, *::before, *::after {
  box-sizing: border-box;
}


/* nav */

.bg-img {
  background-image: url("https://images.pexels.com/photos/11157456/pexels-photo-11157456.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
  min-height: 600px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color:white;
}

.nav3 {
  margin-top: 30px;
  
}
.nav3 a {
  padding: 15px;
  text-decoration: none;
  color:white;
}



/* Splash */

.splash {
  min-height: 500px;
  display: flex;
}

.splash-inner {
  margin: 24px auto;
  max-width: 70%;
  font-weight: 400;
  font-size: 16px;

}

.page-title {
  margin: 0;
  font-size: 60px;
  line-height: 1.2;
  font-weight: bold;
}

.page-subtitle {
  margin: 24px 0;
  font-weight: 400;
  font-size: 36px;
  text-align: center;
  margin-top: 130px;
  font-style: italic;
}

.btn {
  display: block;
  padding: 20px;
  font-size: 16px;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  border-width: 2px;
  color: #ffffff;
  margin: 0 auto;
  background-color:#efa306;
  width: 200px;
}


/* Our Service */

.service {
  background-color: #ffffff;
}

.service h2, p {
  text-align: center;
}

.service3{
  text-align: center;
}

.service3 i{
  color:#efa306;
  font-size: 50px;
}

.service-title {
  margin-top: 80px;
}

.service-services {
  margin: 100px auto;
}

.service3 p{
  font-size: 18px;
}

.service-title p{
  margin: 0 auto;
}

.service-title h2{
  font-size: 30px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 5px;
}

/* Our Portfolio */

.porfolio {
  background-color: #F2F2EE;
  padding-bottom: 100px;
}

.portfolio-title {
  padding-top: 80px;
  margin-bottom: 0px;
  text-align: center;
}

.portfolio-title h2 {
  margin-bottom: 5px;
  font-size: 30px;
}

.portfolio-title p {
  padding-top: 0px;
  margin-top: 0px;
  margin-bottom: 50px;
}

.card img {
  width: 100%;
  height: 300px;
  object-fit: cover;
}
  
.card {
  margin: 20px auto;
  background-color: #ffffff;
}

h4 {
  text-align: center;
  margin-bottom: 0;
}

.card-body p {
  margin-top: 0;
  font-size: 13px;
  font-style: italic;
  padding-bottom: 20px;
}

/* Footer */

.footer {
  margin: 30px auto;
  background: #ffffff;
  text-align: center;   
}


.socials i {
  height: 40px;
  width: 40px;
  font-size: 18px;
  border-radius: 50%;
  margin-bottom: 5px;
  cursor: pointer;
  background: black;
  line-height: 40px;
  text-align: center;
  color: white; 
}

.socials {
  text-align: center; 
}
/* Media */

@media (max-width: 767px) {
    
  .service-parentofserviceboxes, .ourwork-parentofworkboxes, .contactflex {
      flex-direction: column;
  }
  
  .card-image {
      flex: 0 0 100%;
      min-height: 300px;
      width: 100%;
  }
  }